.container{
    width: 90%;
    height: 100%;
    margin: auto;
    background-color:var(--bg-drak);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}