
.container-2{
border-radius: 20px;
width: 90%;
margin: auto;
margin-top: 60px;
padding: 20px ;
display: flex; 
justify-content: space-between;
background-image: url(./../../images/banner-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 380px;
} 
.container-2 .title{
    max-width: 60%;
    padding-left: 30px;
    padding-top: 50px;
    color: white;
}
.container-2 .title h4{
font-size: 30px;


}
.container-2 .title h2 span{
    color: var(--pink-color) ;
}
.container-2 .title h2{
font-size: 50px;
font-weight: bold;
text-transform: uppercase;
padding-top: 20px;

}
#btn-1{
    border-radius: 10px;
    padding:8px;
    background-color: var(--pink-color);
    color: white;
    cursor: pointer;
    
}
#btn-1:hover{
    background-color: white;
    color: palevioletred;
}
