.card{
    background-color: var(--bg-black);
    border-radius: var(--border-rd);
    overflow: hidden;
    background-color:var(--bg-drak);
    transition: .3s ease all;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
}
.card:hover img{
    opacity: 1;
}
.card img{
width: 100%;
margin: auto;
border-radius: 50px;
padding: 25px 25px 35px 25px;
transition: .3s ease all;
opacity: .3;
}

.info-card{
max-width: 100%;
display: flex;
justify-content: space-around;
margin-bottom: 5px;
padding-bottom: 20px;
}
.info-card h4{
    text-transform: capitalize;
}
.card-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--bg-drak);
    margin-bottom: 15px;
}
.card-2 .img-card img {
border-radius: 8px;
}